@import "tailwindcss";

:root {
  font-family: var(--font-inter), sans-serif;
}
.font-urbanis {
  font-family: var(--font-urbanist), sans-serif; 
}
body {
   font-family: var(--font-inter), sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}


.marquee-track {
  width: max-content;
  animation: marquee 40s linear infinite;
}

.marquee-track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
